@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model BugTracker.Models.Projects;

<h1> Edit Page </h1>

<div class="border container" style="padding:30px">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="projectId" />
        <div class="=form-group row">
            <div class="col-4">
                <p> Author Name </p>
            </div>
            <div class="col-6">
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
        </div>
        <div class="=form-group row">
            <div class="col-4">
                <p> Project Name </p>
            </div>
            <div class="col-6">
                <input asp-for="ProjectName" class="form-control" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
        </div>
        <div class="=form-group row">
            <div class="col-4">
                <p> Project Language </p>
            </div>
            <div class="col-6">
                @Html.DropDownListFor(Model => Model.projectLanguage, new SelectList(Enum.GetValues(typeof(programmingLanguages))), "Select a Programming Language")
                <span asp-validation-for="projectLanguage" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary"
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}