@model BugTracker.Models.Projects;

@{
    ViewData["Title"] = "Project";
}

<h1>Project --- @Model.ProjectName</h1>

<!DOCTYPE HTML>
<html>
<head>
    <script>
window.onload = function () {

    CanvasJS.addColorSet("ticketShades",
        [//colorSet Array
            "#d4edda",
            "#fff3cd",
            "#f8d7da",
            "#cce5ff",
        ]);

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	//theme: "light2", // "light1", "light2", "dark1", "dark2"

    colorSet: "ticketShades",

	title: {
		text: "Outstanding Tickets by Priority"
	},
	axisY: {
		title: "Number of Tickets"
	},
	data: [{
		type: "column",
		dataPoints: @Html.Raw(ViewBag.DataPoints)
	}]
});
chart.render();

}
    </script>
</head>
<body>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>

<br />
<br />

<div>
    Outstanding Tickets
    <div>
        <table class="table table-striped border">
            <tr class="table-secondary">
                <td>
                    <p> Project Name </p>
                </td>
                <td>
                    <p> Author </p>
                </td>
                <td>
                </td>
            </tr>
            @foreach (var item in Model.TicketList)
            {
                <tr>
                    <td>
                        @item.TicketName
                    </td>
                    <td>
                        @item.TicketDesc
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

