
@model BugTracker.Models.UserModel;


@{
    ViewData["Title"] = "My Profile";
}

<h1>User Page</h1>

<br />
<br />

<h2>
    @Model.key
</h2>

@foreach (var item in Model.AuthoredProjects)
{
    <p>
        @item.ProjectName
        @item.Id
    </p>
}