@page
@model BugTracker.Areas.Identity.Pages.Account.Manage.ProfileStatsModel

@{
    ViewData["Title"] = "Profile Statistics";
    ViewData["ActivePage"] = ManageNavPages.ProfileStats;
}

<h2>
    Profile Stats
</h2>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}