@page
@model BugTracker.Areas.Identity.Pages.Account.Manage.ProfileStatsModel

@{
    ViewData["Title"] = "Profile Statistics";
    ViewData["ActivePage"] = ManageNavPages.ProfileStats;
}

<h2>
    Profile Stats
</h2>
<div class="form-group">
    <label asp-for="myUserId"></label>
    <input asp-for="myUserId" class="form-control" disabled />
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}