
@{
    ViewData["Title"] = "Index";
}

<head>
    <title>Font Awesome Icons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div style="text-align: center">
    <h1 class="text-info"> About Me</h1>
    <div>
        <p>
            Hey! My name is Jeffrey Keyser and I'm a student at the University of Wisconsin - Madison studying Computer Engineering and Computer Science.
            This website is an extended project I started when Coronavirus had me stranded in my home for an extended period.
            <br /> <br />
            The main goal of it was to explore the ASP.NET framework
            and learn more about HTML and C#. I've never worked with these tools before and this website a display of what I've learned.  The ultimate goal is to register a DNS and deploy this website on a raspberry pi.
            At the moment, there are still a lot of things I want to do with the website's design / plumming.
            <br /><br />
            I've attached my resume along with my github / linkedin if your interested. Please reach out if you have any questions about the project.
            The source code is <a href="https://github.com/Jeffrey-Keyser/BugTracker">public</a> along with other documents detailing how everything interacts.
            <br /> <br />
            Thanks for visiting my website!
        </p>
    </div>
</div>

<div class="border-dark" style="text-align: center">
    <div>
    <img src="~/lib/images/LinkedIn.jpg" width="200" height="200">
    </div>
    <a href="https://www.linkedin.com/in/jeffrey-keyser-a58457157/">
    <i class="fa fa-linkedin-square" style="font-size:48px; color:red"></i>
    </a>
    <a href="https://github.com/Jeffrey-Keyser" >
        <i class="fa fa-github" style="padding-left:20px; font-size:48px; color:red"></i>
    </a>
</div>
<div>
    
</div>